.container-fluid {
  padding: 7% 10% 5% 10% !important;
}
.navbar {
  padding: 1% 5% !important;
  text-align: center;
}
.offcanvas {
  font-family: 'Lobster', cursive;
}
.sub-content1 {
  color: #8f8f8f;
  font-family: 'Pacifico', cursive;
  line-height: 1.5;
  font-size: 25px;
  text-align: center;
}
.content {
  align-items: center;
  position: relative;
  display: flex;
  margin-top: 20px;
  height: 50px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  line-height: 40px;
  justify-content: center;
  color: black;
}
.content__container {
  font-weight: 600;
  height: 40px;
}
.content__container:before {
  content: "<";
  left: 0px;
}
.content__container:after {
  content: ">";
  position: relative;
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0px;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}  
@-webkit-keyframes opacity { 
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
  opacity: 0;
  }
  50% {
  opacity: 1;
}
}
@keyframes change {
  0%, 12.66%, 100% {
  transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
  transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
  transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
  transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
  transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
  transform: translate3d(0, -25%, 0);
}
}
.sub-content2 {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-size: 50px;
  /* line-height: 40px; */
}
.sub-content3 {
  color: #8f8f8f;
  font-family: 'Bebas Neue', cursive;
  line-height: 2;
  font-size: 20px;
  text-align: center;
  position: relative;
}
.button-1 {
  font-family: 'Pacifico', cursive;
  line-height: 1.5;
  position: relative;
  /* top: 40px; */
}
.img-fluid {
    /* height: auto; */
    width: 100%;
    position: relative;
    left: 0%;
    right: 0%;
}
.A-1 {
  text-align: center;
  position: relative;
  top: 55px;
}
.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
  }
.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    top: 50%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px black;
    border-radius: 25px;
  }
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: black;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
            animation-name: scroll;
  }
@-webkit-keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(46px);
    }
  }
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

/* Media */

@media (max-width: 996px) {
  .sub-content1 {
    font-size: 50px;
  }
  .sub-content2 {
    line-height: 1.5;
    font-size: 65px;
  }
  .sub-content3 {
    font-size: 40px;
    line-height: 1.5;
  }
  .content {
    font-size: 50px;
    position: relative;
    /* width: 100%; */
    z-index: -1;
  }
  .img-fluid {
    position: static;
    padding-top: 10%;
  }
  .sub-content3 {
    position: static;
  }
  .button-1 {
    position: static;
  }
  .content__container {
    position: static;
  }
  .content__container__text {
    margin-left: 5%;
    font-size: 85%;
  }
  .content__container__list__item {
    margin-left: 10%;
    line-height: 1;
    font-size: 85%;
  } 
}
/* section-Projects */

#Projects {
  padding: 1% 9% 5% 9%;
}
/* .Selected { */
  /* text-align: left; */
/* } */
.head2-1 {
  color: #8f8f8f;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
.head2-2 {
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  font-size: 60px;
}
/* ---------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://images.squarespace-cdn.com/content/v1/5bb319458155124b4b708ce0/1627482763550-090MXOH0868X64LQJZXW/frontend-developer.jpg?format=1500w);
  background-size: cover;
  width: 100%;
  height: 400px;
  margin: 5px 0 0 5px;
  position: relative;
}

.top h2 {
  color: white;
  margin: 0;
  padding: 20px;
  font-size: 40px;
}

.lr p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  position: absolute;
  bottom: 110px;
  left: 20px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
}

.cap p {
  padding: 20px;
  color: white;
  font: 38px 'Roboto', sans-serif;
  margin: 0;
}
.top-1 h2 {
  color: white;
  margin: 0;
  padding: 20px;
  font-size: 40px;
  width: 600px;
}
.module-1 {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://static.businessworld.in/article/article_extra_large_image/1568720807_WAh3OT_Udemy.png);
  background-size: cover;
  width: 100%;
  height: 400px;
  margin: 5px 0 0 5px;
  position: relative;
}
